body        {
    background-color: antiquewhite;
    padding: 20px;
}


h1          {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}



h2          {
    
    color: magenta;
}

footer {

    color: grey;
}

button {
    color: maroon;
}

